.castList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.castItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
