.title {
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
  padding: 40px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: navy;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}
.listItem:hover,
.listItem:focus {
  transform: scale(1.1);
  cursor: pointer;
}
.listLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.listImg {
  padding-top: 10px;
  max-width: 200px;
}

.movieTittle {
  text-align: center;
}
