.header {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 10px 0px;
}

.headerList {
  display: flex;
  list-style: none;
}

.listItem {
  margin-left: 10px;
  text-decoration: none;
}
